.login {
    margin: 5px;
    padding: 20px;
    border: 2px solid #655DBB;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5%;
}
.login .component-heading {
    margin-bottom: 20px;
}
.login input {
    padding: 10px 20px;
    background-color: aliceblue;
    border: 1px solid ;
    margin: 5px;
    border-radius: 5px;
    width: 300px;
    
}
.login #submit {
    width: 90px;
    background-color: #655DBB;
    color: white;
}
